.venv
.env
__pycache__
*.pyc
.DS_Store
.idea
.vscode
.pytest_cache
.coverage
htmlcov
.eggs
dist/
build/
*.egg-info/
.venv
.env
__pycache__
*.pyc
.DS_Store
.idea
.vscode
.pytest_cache
.coverage
htmlcov
.eggs
dist/
build/
*.egg-info/